<% content_for :title do %>About<% end %>
<h3>Brony Brown Bag Cheat</h3>
<p>It i very frustrating to fork out anonther 20 bucks for a few blind bags to find that all the bags contail figures that you already have.</p>
<p>Solution :</p>
<p>Copy the shortcut to this app to your phone and have it available all the time as you have you phone available at all times. The great thing is that it doesn't matter if you have and android iphone or any other kind of phone, as long as you have a internet access, you can use this app.</p>